a{
	text-decoration: none;
}

.form{
    margin:20px;
    width:60%;
    min-width:300px;
}

.area-select .area-selected-trigger {
    padding: 0 20px 7px 12px!important;
}
.cascader-menu-list .cascader-menu-option.selected{
    color: #20a0ff!important;
}
.area-select.large,.el-date-editor.el-input,.el-select{
    width: 100%!important;
}

.el-date-picker{
    width: 300px!important;
}

.dialog-footer{
    float: right;
    margin-bottom: 20px;
}
.el-pagination{
	margin: 20px 0;
	text-align: center;
}
.el-table__row a{
	color: #20a0ff;
	cursor: pointer;
}
.el-table__row a:hover{
	color: #20a0ff;
}
.el-table__row :visited{
	color: #20a0ff;
}