.login {
  width: 100%;
  height: 100%;
  background: url(../assets/images/login/bg.png) no-repeat center;
  display: inline-block;

  .login-container {
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin: 180px auto;
    width: 350px;
    padding: 35px 35px 15px 20px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;

    .title {
      margin: 0px auto 40px auto;
      text-align: center;
      color: #505458;
    }

    .form {
      width: 100% !important;
      margin: 0 !important;

      .el-form-item__label {
        width: 80px !important;

        &::before {
          color: #fff !important;
        }
      }

      .el-form-item {
        margin-bottom: 30px !important;
      }

      .el-form-item__content {
        margin-left: 80px !important;
      }

      .btns {
        .el-form-item__content {
          margin-left: 15px !important;

          .el-button {
            width: 100% !important;
          }
        }
      }
    }
  }
}
